.preloader-background {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #272727;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;  
}

.nav-wrapper {
    background-color: #272727;
}

li a:hover {
    color: #ffd600; 
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    letter-spacing: .025em;
    line-height: 2.1428;
    color: #7e7e7e;
    background: #272727;
}

header {
    background: url(images/header.jpeg);
    background-size: cover;
    background-position: center;
    min-height: 1000px;
}

@media screen and (max-width: 670px) {
    header {
        min-height: 500px;
    }

    #mob1 {
        display: none;
    }
}

#pagepanel1 {
    text-align: justify;
}

#pagepanel1 h3, strong, #pagepanel2 h3 {
    color: #ffd600;
}

#la strong {
    font-weight: bold;
} 

#la , #ila{
    margin-left: 50px;
}

.row {
    margin: 50px;
    padding-top: 50px;
    border-top: 1px solid white;
    max-width: 1000px;
}
.tabs {
    opacity: 0.8;
}
#ici , #la , #ila {
    max-width: 300px;
}

#pagepanel1 h5 , #pagepanel2 h5 {
    color: white;
    font-size: 1.3em;
}
